.primalBtn {
  background-color: #ffbd59;
  color: black;
  border: none;
  padding: 18px 54px;
  font-family: Comfortaa;
  cursor: pointer;
  transition: all 0.3s ease;
}
.primalBtn:hover {
  background-color: #a5978e;
  color: #ffbd59;
}

@media (max-width: 480px) {
  .primalBtn {
    padding: 18px 54px;
  }
}
@media (max-width: 360px) {
  .primalBtn {
    padding: 15px 40px;
  }
}
