.primalBtn {
	background-color: #FFBD59;
	color: black;
	border: none;
	padding: 18px 54px;
	font-family: Comfortaa;
	cursor: pointer;
	transition: all .3s ease;
}
.primalBtn:hover {
	background-color: #A5978E;
	color:#FFBD59;

}
