.reviews {
  overflow: clip;
  margin-bottom: 50px;
}

.reviews__container {
  display: flex;
  padding-bottom: 56px;
  position: relative;
}
.reviews__content {
  margin-right: 18px;
  max-width: 374px;
}
.reviews__title {
  margin-bottom: 15px;
}
.reviews__text {
}
.reviews__slider {
  max-width: 760px;
  display: flex;
  padding-bottom: 123px;
}
.reviews__slider-item {
  display: flex;
  flex-direction: column;
  width: 372px;
  padding-top: 50px;
  position: relative;
}
.reviews__slider-img {
  margin-right: 16px;
  position: relative;
}
.reviews__img-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
.reviews__slider-social {
  margin-top: 50px;
  margin-bottom: 12px;
}
.reviews__slider-title {
  color: #000;
  font-family: Yeseva One;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.reviews__slider-text {
  max-width: 372px;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-grow: 1;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 390px !important;
  left: 0;
}

.swiper-pagination-bullet {
  width: 50px;
  height: 3px;
  margin: 0 5px;
  background-color: #bea495;
  cursor: pointer;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: #7b6152;
}
.reviews__btn {
  width: 216px;
  color: #272727;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: end;
}
.rev-btn {
  padding: 20px 35px;
}
.reviews__slider-decor {
  position: absolute;
  left: 0;
  bottom: 0;
}
.reviews__slider-decor span {
  height: 1px;
  width: 2000px;
  background-color: #7b6152;
  position: absolute;
  top: 20px;
  display: inline-block;
}

@media (max-width: 1063px) {
  .reviews__content {
    max-width: 260px;
  }

  .reviews__slider-item {
    padding-top: 30px;
  }
}
@media (max-width: 926px) {
  .reviews__text .TextTemplate_special-text__dcjyB {
    font-size: 12px;
  }
  .reviews__title .TitleTemplate_special-text__ldBEH {
    font-size: 15px;
  }
  .reviews__content {
    max-width: 200px;
  }
  .reviews__slider-img {
    width: 200px;
  }
  .reviews__slider-img img {
    width: 200px;
  }
  .reviews__img-btn {
    width: 50px;
    height: 50px;
  }
  .reviews__img-btn img {
    width: 50px;
    height: 50px;
  }
  .reviews__slider-text {
    font-size: 10px;
  }
  .reviews__slider-title {
    font-size: 12px;
  }
  .reviews__slider-item {
    padding-top: 0;
  }
  .swiper-pagination {
    top: 188px !important;
  }
  .rev-btn {
    padding: 15px 20px;
  }
}

@media (max-width: 688px) {
  .reviews__container {
    display: block;
  }
  .reviews__content {
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .reviews__slider-text {
    max-width: 100%;
  }
  .swiper-pagination {
    top: 165px !important;
  }
  .reviews__slider-decor {
    bottom: 30px;
  }
}

@media (max-width: 470px) {
  .reviews__slider-title {
    margin-bottom: 3px;
  }
}

@media (max-width: 445px) {
  .reviews__slider {
    display: block;
    text-align: center;
  }

  .reviews__slider-item {
    width: auto;
  }
  .reviews__slider-img {
    width: auto;
    margin-bottom: 10px;
  }

  .reviews__slider-img img {
    width: 250px;
  }
  .reviews__slider-text {
    font-size: 10px;
    margin-bottom: 10px;
  }

  .swiper-pagination {
    top: 396px !important;
  }
  .reviews__btn {
    align-self: center;
  }
  .reviews__img-btn img {
    width: 50px;
    height: 50px;
  }
  .reviews__slider-title {
    margin-bottom: 10px;
  }
  .reviews__slider-img {
    margin-right: 16px;
  }
}
