.cert {
  overflow: clip;
  position: relative;
  margin-bottom: 50px;
}
.cert__inner {
  display: flex;
  padding-bottom: 50px;
  position: relative;
}
.cert__content {
  width: 371px;
  margin-right: 20px;
}

.cert__slider {
  width: 375px;
  padding-bottom: 123px;
  display: flex;
}
.cert__slider-item {
  width: 371px;
}
.cert__inner .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 225px !important;
  left: 0;
}

.swiper-pagination-bullet {
  width: 50px;
  height: 3px;
  margin: 0 5px;
  background-color: #bea495;
  cursor: pointer;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: #7b6152;
}

.cert__content .swiper-slide {
  width: 371px;
}

.cert__inner .swiper-wrapper {
  width: 800px;
}
.cert__inner .swiper {
  margin: 0;
}

@media (max-width: 1000px) {
  .cert__slider-img {
    width: 275px;
  }
  .cert__slider-img img {
    width: 275px;
  }
  .cert__inner .swiper-wrapper {
    width: 614px;
  }

  .cert {
    .reviews__slider-decor {
      left: 20%;
    }
  }
}
.cert__slider-decor {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cert__slider-decor span {
  height: 1px;
  width: 2000px;
  background-color: #7b6152;
  position: absolute;
  top: 20px;
  display: inline-block;
}
@media (max-width: 926px) {
  .cert__content {
    width: 200px;
  }
  .cert__inner .swiper-wrapper {
    width: 571px;
  }
  .cert__inner .swiper-pagination {
    top: 179px !important;
  }

  .cert {
    .reviews__slider-decor {
      left: 15%;
    }
  }
  .cert__content-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .cert__content-text {
    font-size: 12px;
  }
}

@media (max-width: 688px) {
  .cert__inner {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .cert__content {
    width: auto;
    margin-bottom: 30px;
  }
  .cert__inner .swiper-pagination {
    top: 146px !important;
  }
  .cert__inner .swiper-wrapper {
    width: 582px;
  }
  .cert {
    .reviews__slider-decor {
      left: 10%;
    }
  }
}

@media (max-width: 595px) {
  .cert__slider-img img {
    width: 300px;
  }
  .cert__slider-img {
    width: 300px;
  }
  .cert__inner .swiper-wrapper {
    width: 435px;
  }
  .cert__inner .swiper-pagination {
    top: 100px !important;
  }
  .cert__inner .swiper-wrapper {
    width: 423px;
  }
  .cert {
    .reviews__slider-decor {
      left: 5%;
    }
  }
}

@media (max-width: 445px) {
  .cert__inner .swiper-wrapper {
    width: 300px;
  }
  .cert__slider-img img {
    width: 300px;
  }
  .cert__inner .swiper-pagination {
    top: 150px !important;
  }
}
