.product {
  overflow: clip;
  margin-bottom: 100px;
}
.product__inner {
  display: grid;
  grid-template-columns: 370px auto auto;
  gap: 69px;
}
.product__content {
  gap: 69px;
}
.product__content-title {
  margin-bottom: 15px;
}
.product__items {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  gap: 50px 93px;
  padding-bottom: 50px;
  position: relative;
}
.product__item {
  width: 290px;
}
.product__item-img {
  margin-bottom: 8px;
}
.product__item-price {
  font-family: Yeseva One;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
}
.product__item-title {
  font-family: Yeseva One;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}
.product__item-text {
  margin-bottom: 27px;
}

.product__items::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./Images/product-decor.png);
  width: 24px;
  height: 33px;
}
.product__items::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 24px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}

@media (max-width: 1000px) {
  .product__inner {
    grid-template-columns: 300px auto auto;
    gap: 20px;
  }
  .product__items {
    gap: 67px;
  }
  .product__content-text {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  [class$="__container"] {
    padding: 0 10px;
  }
  .product__inner {
    grid-template-columns: 200px auto auto;
    gap: 30px;
  }
  .product__items {
    gap: 30px 16px;
  }
  .product__item {
    width: 200px;
  }
  .product__item-img img {
    width: 200px;
  }
}
@media (max-width: 670px) {
  .product__inner {
    display: block;
    text-align: center;
    justify-content: space-around;
  }
  .product__items {
    justify-content: space-around;
  }

  .product__content-text {
    width: 300px;
    display: inline-block;
    margin-bottom: 30px;
  }
  .product {
    margin-bottom: 59px;
  }
}

@media (max-width: 440px) {
  .product__item-img img {
    width: 188px;
  }
  .product__items {
    gap: 30px 7px;
  }
  .product__item-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .product__item-price {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .product__item-text {
    font-size: 8px;
    margin-bottom: 19px;
  }
}

@media (max-width: 420px) {
  .product-btn {
    padding: 15px 40px;
  }
  .product__item {
    width: 140px;
  }
  .product__item-img img {
    width: 140px;
  }
  .product__item-price {
    font-size: 10px;
  }
  .product__item-title {
    font-size: 10px;
  }
  .product__item-text {
    font-size: 6px;
  }
  .product__content-text {
    max-width: 235px;
    font-size: 8px;
  }
}
