.steps {
  overflow: clip;
  margin-bottom: 150px;
}
.steps__container {
}

.steps__inner {
  display: grid;
  grid-template-columns: 370px auto auto;
  gap: 20px;
}
.steps__list {
  display: grid;
  grid-template-columns: auto auto;
  width: 370px;
  gap: 72px 24px;
  padding-bottom: 72px;
  position: relative;
  counter-reset: number;
}
.steps__title {
  font-size: 40px;
}
.steps__text {
  font-size: 14px;
}
.steps__item {
  display: flex;
  gap: 39px;
  list-style-type: none;
  position: relative;
}

.steps__item span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #bea495;
  font-family: Yeseva One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.steps__item--even span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
}

.steps__item-text {
  width: 174px;
}

@media (max-width: 1200px) {
  .steps__inner {
    display: block;
  }
  .steps__content {
    text-align: center;
    margin-bottom: 40px;
  }
  .steps__list {
    width: auto;
  }
  .steps__item-text {
    width: auto;
  }
}
@media (max-width: 768px) {
  .steps__list {
    grid-template-columns: auto;
  }
  [class$="__container"] {
    padding: 0 40px;
  }
  .steps__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .steps {
    margin-bottom: 50px;
  }

  .steps__item {
    padding-bottom: 5px;
    border-bottom: 1px solid #7b6152;
  }
}

@media (max-width: 420px) {
  .steps__title {
    font-size: 25px;
  }
  .steps__text {
    font-size: 12px;
  }
  .steps__item-text {
    font-size: 12px;
  }
}
@media (max-width: 341px) {
  .steps__title {
    font-size: 20px;
  }
  .steps__item {
    gap: 20px;
  }
}
