.steps {
  overflow: clip;
  margin-bottom: 150px;
}
.steps__container {
}

.steps__inner {
  display: grid;
  grid-template-columns: 370px auto auto;
  gap: 20px;
}
.steps__list {
  display: grid;
  grid-template-columns: auto auto;
  width: 370px;
  gap: 72px 24px;
  padding-bottom: 72px;
  position: relative;
  counter-reset: number;
}
.steps__item {
  display: flex;
  gap: 39px;
  list-style-type: none;
  position: relative;
}

.steps__item span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #bea495;
  font-family: Yeseva One;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.steps__item--even span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
}

.steps__item-text {
  width: 174px;
}
.steps__list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./Images/steps-decor.png);
  width: 24px;
  height: 33px;
}
.steps__list::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 24px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}
@media (max-width: 1000px) {
  .steps__inner {
    grid-template-columns: 300px auto auto;
  }
  .steps__list {
    width: 300px;
  }
  .steps__item-text {
    width: 140px;
  }
  .steps__item {
    gap: 30px;
  }
  .steps__item-img img {
    width: 128px;
    height: 225px;
    object-fit: cover;
  }
  .steps__list {
    gap: 35px 24px;
  }
}
@media (max-width: 768px) {
  [class$="__container"] {
    padding: 0 10px;
  }
  .steps__inner {
    grid-template-columns: 200px auto auto;
  }
  .steps__content-title {
    margin-bottom: 15px;
  }
  .steps__content-text {
    font-size: 10px;
  }
  .steps__item-text {
    width: 93px;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .steps__item {
    gap: 20px;
  }
  .steps__item-img img {
    width: 85px;
    height: 150px;
    object-fit: cover;
  }
}
@media (max-width: 670px) {
  .steps__inner {
    display: block;
    justify-content: space-around;
  }
  .steps__content {
    text-align: center;
    margin-bottom: 30px;
  }

  .steps__list {
    grid-template-columns: 370px;
    justify-content: space-evenly;
    width: auto;
  }
  .steps__list {
    gap: 24px 39px;
  }
  .steps {
    margin-bottom: 50px;
  }
  .steps__item-img img {
    width: 160px;
    height: 220px;
    object-fit: cover;
  }
  .steps__item-text {
    width: 174px;
  }
  .steps__item-text {
font-size: 14px;
width: auto;
  }
}

