@import "../scss/var.scss";

[class$="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
a,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
body {
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
  background-color: $beg;
  font-size: 14px;
}
.header {
  margin-bottom: 75px;
}

.header__logo img {
  cursor: pointer;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 20px;
}

.menu__item-link {
  border-bottom: 2px solid transparent;
  width: 100%;
  transition: width 0.35s;
  display: inline-block;
  cursor: pointer;
}
.menu__item-link:hover {
  width: 100%;
  border-bottom-width: 100%;
  border-bottom-color: #7b6152;
}

.menu__item-link {
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease;
  color: black;
}
.menu__item-link:hover {
  text-shadow: 0 0 0.55px #201e1e, 0 0 0.55px #2b2929;
}

.header__tel {
  position: relative;
}

.header__tel a {
  text-decoration: none;
}
.header__tel::before {
  content: url(./image/phone.svg);
  position: absolute;
  top: -3px;
  left: -22px;
}

@media (max-width: 1000px) {
  .header {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  [class$="__container"] {
    padding: 0 10px;
  }
  .header__tel::before {
    top: -6px;
  }
  .menu__item-link,
  .header__tel {
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  .header__menu {
    display: none;
  }

  .header__container {
    padding: 0 10px;
  }
}
