.footer {
  padding-top: 30px;
  height: 105px;
  background-color: #fff;
}

.footer__logo img {
  cursor: pointer;
  background: transparent;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  display: flex;
  gap: 20px;
}
.footer__menu-link {
  color: var(--Gray-1, #333);
  font-family: Comfortaa;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.footer__right {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}
.footer__tel {
}
.footer__email {
}
.footer__social {
  display: flex;
  gap: 15px;
}
@media (max-width: 900px) {
  .footer__menu-list {
    flex-direction: column;
  }
    .footer {
      height: 100%;
      padding-bottom: 20px;
    }
  }

@media (max-width: 440px) {
  .footer__menu-link {
font-size: 11px;
  }
  .footer__right {
    font-size: 12px;
  }
}