.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .main__container .main__content {
    width: 333px;
    padding: 150px 0 140px;
  }
  .main__img .main__img-large {
    width: 655px;
    top: 30px;
    left: 281px;
  }
  body .header {
    margin-bottom: 0;
  }

  .main__content .main__text {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .about__container .about__content {
    font-size: 14px;
    min-width: 300px;
  }

  .about__content .about__content-title {
    font-size: 40px;
  }

  .about__container .about__list {
    padding-left: 20px;
  }
  .product__container .product__inner {
    grid-template-columns: 300px auto auto;
    gap: 20px;
  }
  .product__inner .product__items {
    gap: 67px;
  }
  .product__content .product__content-text {
    font-size: 10px;
  }

  .steps__container .steps__inner {
    grid-template-columns: 300px auto auto;
  }
  .steps__inner .steps__list {
    width: 300px;
  }
  .steps__list .steps__item-text {
    width: 140px;
  }
  .steps__list .steps__item {
    gap: 30px;
  }
  .steps__item-img img {
    width: 128px;
    height: 225px;
    object-fit: cover;
  }
  .steps__inner .steps__list {
    gap: 35px 24px;
  }
}

@media (max-width: 768px) {
  [class$="__container"] {
    padding: 0 10px;
  }

  .menu__item-link,
  .header__tel {
    font-size: 10px;
  }
  .main__container .main__content {
    width: 233px;
  }
  .main__content .main__title {
    font-size: 20px;
  }
  .main__img .main__img-large {
    left: 226px;
  }
  .main__container .main__content {
    padding: 100px 0 172px;
  }
  .main__text {
    font-size: 10px;
    margin-bottom: 20px;
  }
  .header__container .header__tel::before {
    top: -6px;
  }
  .about__content .about__content-title {
    font-size: 15px;
  }
  .about__container .about__content {
    font-size: 10px;
    min-width: 200px;
  }
  .about__container .about__list {
    padding-left: 21px;
    margin-left: 24px;
  }
  .about__container .about__list {
    padding-bottom: 33px;
  }
  .about__item .about__item-img {
    width: 120px;
    margin-bottom: 6px;
  }
  .about__item-img--big {
    width: 190px;
  }

  .about__item .about__item-text {
    font-size: 6px;
  }
  .about__container .about__list {
    gap: 10px;
  }

  .product__container .product__inner {
    grid-template-columns: 200px auto auto;
    gap: 30px;
  }
  .product__inner .product__items {
    gap: 30px 16px;
  }
  .product__items .product__item {
    width: 200px;
  }
  .product__item-img img {
    width: 200px;
  }

  .steps__container .steps__inner {
    grid-template-columns: 200px auto auto;
  }
  .steps__content-title {
    margin-bottom: 15px;
  }
  .steps__content .steps__content-text {
    font-size: 10px;
  }
  .steps__inner .steps__list {
    width: 200px;
  }
  .steps__list .steps__item-text {
    width: 93px;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .steps__list .steps__item {
    gap: 20px;
  }
  .steps__item-img img {
    width: 85px;
    height: 150px;
    object-fit: cover;
  }
}

@media (max-width: 670px) {
  .product__container .product__inner {
    display: block;
    text-align: center;
    justify-content: space-around;
  }
  .product__inner .product__items {
    justify-content: space-around;
  }
  body .about {
    margin-bottom: 50px;
  }
  .product__content .product__content-text {
    width: 300px;
    display: inline-block;
    margin-bottom: 30px;
  }
    .steps__container .steps__inner {
    display: block;
    justify-content: space-around;
  }
    .steps__inner .steps__content {
    text-align: center;
    margin-bottom: 30px;
  }
  body .product {
  
  margin-bottom: 59px;
}}

@media (max-width: 576px) {
  .header__menu {
    display: none;
  }
  .header__container .header__burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    width: 50px;
    z-index: 10;
  }
  .header__burger span {
    display: flex;
    width: 30px;
    height: 1px;
    background: #7b6152;
    gap: 12px;
  }
  .open {
    background-color: #7b6152;
    display: flex;
    text-align: center;
    z-index: 7;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 153px;
    box-sizing: border-box;
  }
  .burger__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .burger__item-link {
    color: #fff8f3;
    font-family: Comfortaa;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
  }
}
@media (max-width: 480px) {
  .main__img .main__img-med {
    width: 320px;
  }
  .main__content .main__title {
    font-size: 15.183px;
  }
  .main__content .main__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .main__container .main__content {
    max-width: 170px;
    padding: 100px 0 139px;
  }
  .main__content .style_primalBtn__5pke5 {
    padding: 14px 40px;
    font-size: 10px;
  }
  .main__img .main__img-large {
    width: 330px;
    left: 150px;
  }
  .about__container .about__content {
    min-width: 177px;
  }
  .about__item .about__item-img {
    width: 80px;
  }
  .about__item-img--big {
    width: 140px;
  }
  .about__container .about__list {
    padding-left: 17px;
  }
  main .main__container {
    padding: 0 10px;
  }
  .about .about__container {
    padding: 0 10px;
  }
  header .header__container {
    padding: 0 10px;
  }
}

@media (max-width: 360px) {
  .main__img .main__img-large {
    width: 135px;
    left: 195px;
    top: 30px;
  }
  .main__content .main__title {
    font-size: 18px;
  }
  .main__content .main__text {
    font-size: 10px;
  }
  .main__container .main__content {
    max-width: 203px;
  }
  .main__container .main__content {
    padding: 60px 0 50px;
  }
  .about__item-img--big {
    display: none;
  }
  .about__container .about__content {
    min-width: 233px;
  }
  .about__content p {
    font-size: 8px;
  }
  .about .about__container {
    padding: 0 10px;
  }
  .about__item-text {
    display: none;
  }
  .about__container .about__list {
    margin-left: 0;
  }
  body .about {
    padding: 25px 0 10px;
  }
  .about__container .about__content {
    font-size: 8px;
  }
  .about__content .about__content-text {
    margin-bottom: 7px;
  }
  .about__content .about__content-title {
    margin-bottom: 10px;
  }
  .product__items .product__item {
    width: 140px;
  }
  .product__item-img img {
    width: 140px;
  }
  .product__item .product__item-price {
    font-size: 10px;
  }
  .product__item .product__item-title {
    font-size: 10px;
  }
  .product__item .product__item-text {
    font-size: 6px;
  }
  .product__content .product__content-text {
    max-width: 235px;
    font-size: 8px;
  }
}
