.link {
  background-image: url(./Images/background.jpg);
  height: 332px;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-bottom: 150px;
}
.link__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 145px;
}
.link__title {
  color: #fff;
}
.link-btn {
}


@media (max-width: 962px) {
  .link__container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .link .link__container {
    padding-top: 145px;
  }
}
@media (max-width: 900px) {
  .link {
    margin-bottom: 50px;
  }
}

@media (max-width: 360px) {
.footer__container{
  flex-direction: column;
}
.footer__logo, .footer__menu{
  margin-bottom: 20px;
}
.footer__menu-link {
font-size: 14px;
}
.footer__right, .footer__social{
  justify-content: center;
  text-align: center;
}}
